@model MinhaAppMvcDesafio.ViewModels.FornecedorViewModel
<h1 class="titulo">@ViewData["Titulo"]</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Salvar" method="post">
            <input type="hidden" id="Id" name="Id" value="@ViewData["Id"]" />
            <vc:Summary></vc:Summary>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:30px;">
                <div class="row">
                    <div class="col-5">
                        <label asp-for="Documento" class="control-label"></label>
                        <input asp-for="Documento" class="form-control" />
                        <span asp-validation-for="Documento" class="text-danger"></span>
                    </div>
                    <div class="col-5">
                        <fieldset style="border:solid 2px;border-radius:5px;">
                            <legend style="width:50px;padding-left:10px;padding-right:10px;font-size:16px;margin-left:10px;"><label asp-for="TipoFornecedor" class="control-label"></label></legend>
                            <div style="padding:11px;">
                                <div class="row">
                                    <div class="col-6"><input type="radio" value="1" asp-for="TipoFornecedor" checked /> Pessoa Física</div>
                                    <div class="col-6"><input type="radio" value="2" asp-for="TipoFornecedor" /> Pessoa Jurídica</div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-2 form-check" style="text-align:right; padding-top:35px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" style="padding-top:30px;">
                <partial name="_Endereco" />
            </div>

            <div class="form-group" style="text-align:center;padding-top:30px;">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        BuscaCep();

        $(document).ready(function ()
        {
            $("input[type='submit']").css("font-weight", "bold").css("font-size", "17px").css("padding-top", "5px").css("padding-bottom", "5px").css("margin-left", "5px").css("margin-right", "5px");
            $("a[class='btn btn-info']").css("font-weight", "bold").css("font-size", "17px").css("padding-top", "5px").css("padding-bottom", "5px").css("margin-left", "5px").css("margin-right", "5px");
        });
    </script>
}